@import "normalize";
@import "layout";
@import "elements";

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$main-font: 'Gotham-Bold', sans-serif;
$ba-subtitle: 'Gotham-Book', sans-serif;
$text: 'Open Sans', sans-serif;
body{

}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
.ba-section-title:before {
    content: '';
    background: #2c4058;
    width: 100px;
    height: 1px;
    position: absolute;
    top: -37px;
    left: 50%;
    transform: translateX(-50%);
}
.ba-section-title{
	position: relative;
	color: #2c4058;
	font-family: $main-font;
	font-size: 44px;
	font-weight: 500;
	line-height: 22px;
	text-transform: uppercase;
	text-align: center;
	margin: 100px auto;
}
/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}


/* Header */
.ba-header{
	background: url(../img/bg-main.jpg) no-repeat center/cover;
}
.ba-navigation{
	padding: 53px 0 0 0;
}
.ba-menu{
	display: flex;
	justify-content: space-between;
	margin-left: 5px;
}

.ba-menu__item{
	list-style: none;
	margin: 2px 0 0 0;
	position:relative;
}

.ba-menu__item a{
	font-family: $ba-subtitle;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	margin-right: 75px;
	padding-left: 8px;
}

.ba-menu__item a:before {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
	left: -15px;
	margin-right: 10px;
	&:hover{
		// color: #fff;
		background-color: #fff;
	}
}
.social-icons{
	display: flex;
}
.fab {
    color: #fff;
    margin: 20px 24px;
    position: relative;
}
.fab::after {
    content: '';
    width: 40px;
    height: 40px;
    border: 1px #fff solid;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.ba-main-title{
	margin-top: 277px;
	text-align: center;
	color: #ffffff;
	font-family: $main-font;
	font-size: 80px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 55px;
}
.ba-subtitle{
	text-align: center;
	color: #ffffff;
	font-family: $ba-subtitle;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 5.4px;
	margin-bottom: 230px;
}
.fa-chevron-down{
	margin-bottom: 50px;
	position: relative;
	color: #fff;
}
.ba-arrow::after{
	content: '';
    width: 40px;
    height: 40px;
    border: 1px #fff solid;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
/* Projects */
.ba-projects {
    position: relative;
    overflow: hidden;
} 
.ba-projects__1{
	margin-bottom: 210px;
}
.ba-projects:before {
    content: '';
    position: absolute;
    background: #55b7ff;
    height: 480px;
    left: 0;
    top: 182px;
    bottom: 0;
    width: calc(50% - (0.1844 * 1140px));
    z-index: -1;
}

.ba-projects:after {
    content: '';
    position: absolute;
    background: #7e5aff;
    height: 470px;
    right: -386px;
    bottom: 76px;
    width: calc(50% + (0.1844 * 1140px));
    z-index: -1;
}
.project-subtitle{
	font-family: $ba-subtitle;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	color:#2c4058;
	margin-bottom: 17px;
}
.project-title{
	font-family: $main-font;
	font-weight: 700;
	font-size: 44px;
	line-height: 24.01px;
	text-transform: uppercase;
	color:#2c4058;
	margin-bottom: 40px;
}
.project-description{
	font-family: $text;
	color: #4b5562;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;	
}
.location__address{
	color: #2c4058;
	font-family: "Open Sans";
	font-size: 18px;
	font-style: italic;
	line-height: 30px;
}

/* News */
.ba-news{
	background: url(../img/bg-news.jpg) no-repeat center/cover;
}
.ba-news h2{
	color: #fff;
}
.ba-news .ba-section-title:before {
    background: #fff;
}
/* Gallery */
/* Contact */
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    border: none;
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 22px;
}


input.form-submit[type="submit"] {
    border: 1px solid #2c4058;
    background: transparent;
    text-transform: uppercase;
    padding: 15px 39px;
    float: right;
    margin: 0 15px 0 0;
}

.ba-contact {
    max-width: 770px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 50px;
}

.ba-contact .ba-container {
    padding: 0 70px 50px;
}

.ba-get-in-touch-title {
    margin: 91px auto 55px;
}

.ba-get-in-touch {
    /*background-color: #55b7ff;*/
    display: flex;    
    /*padding: 0 60px 75px;*/
}

.ba-get-in-touch-right, 
.ba-get-in-touch-left{
    width: 50%;
}
.group-form {
    max-width: 310px;
    width: 100%;
    color: #4b5562;
}

.form-input {
    width: 100%;
    border-bottom: 1px solid #4b5562;
}
/* Footer */