@import "normalize";
@import "layout";
@import "elements";

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@font-face {
    font-family: 'Gotham-Book';
    src: url('../fonts/Gotham-Book.woff2') format('woff2'),
        url('../fonts/Gotham-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$main-font: 'Gotham-Bold', sans-serif;
$ba-subtitle: 'Gotham-Book', sans-serif;
$text: 'Open Sans', sans-serif;
body{

}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
.ba-section-title::before{
	content: '';
	bottom: 10px;
	position: absolute;
	width: 100px;
	height: 1px;
	background-color: #2c4058;
}
.ba-section-title{
	color: #2c4058;
	font-family: $main-font;
	font-size: 44px;
	font-weight: 500;
	line-height: 22px;
	text-transform: uppercase;
	text-align: center;
	margin: 100px auto;
}
/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1200px;
}


/* Header */
.ba-header{
	background: url(../img/bg-main.jpg) no-repeat center/cover;
}
.ba-navigation{
	padding: 53px 0 0 0;
}
.ba-menu{
	display: flex;
}

.ba-menu__item{
	list-style: none;
	margin: 0 90px 0 0;
	position:relative
}

.ba-menu__item a{
	text-decoration: none;
	color: #fff;
}

.ba-menu__item a:before {
    content: '';
    display: block;
    width: 9px;
    height: 9px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -15px;
}

.fab {
    color: #fff;
    margin: 15px;
    position: relative;
}
.fab::after {
    content: '';
    width: 40px;
    height: 40px;
    border: 1px #fff solid;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

.ba-main-title{
	margin-top: 263px;
	text-align: center;
	color: #ffffff;
	font-family: $main-font;
	font-size: 80px;
	font-weight: 700;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 40px;
}
.ba-subtitle{
	text-align: center;
	color: #ffffff;
	font-family: $ba-subtitle;
	font-size: 18px;
	font-weight: 400;
	line-height: 22px;
	text-transform: uppercase;
	letter-spacing: 5.4px;
	margin-bottom: 230px;
}

/* Projects */
.project-subtitle{
	font-family: $ba-subtitle;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	color:#2c4058;
}
.project-title{
	font-family: $main-font;
	font-weight: 700;
	font-size: 44px;
	line-height: 24.01px;
	text-transform: uppercase;
	color:#2c4058;
}
/* News */
/* Gallery */
/* Contact */
/* Footer */